.web3modal-modal-card {
    border-radius: 0px !important;
    /*border-width: 1px;*/
    /*border-style: solid;*/
    font-family: 'Comic Sans';
}

.web3modal-provider-container {
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 0px !important;
}

