.ReactModal__Overlay, .ReactModal__Overlay--after-open {
    z-index: 3;
    background-color: transparent!important;
    /* display: none!important; */
}

.react-draggable {
    overflow: inherit!important;
}

/*.ReactModal__Content--after-open {*/
/*    !*overflow-y: scroll !important;*!*/
/*    !*overflow-x: hidden !important;*!*/
/*    max-height: 95%;*/
/*}*/
